.letter_body{
    background-color: lavender;
    width: 800px;
    border: 1px solid black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0 auto;
}
.your_contact{
    line-height: 1;
}
.to_contact{
    line-height: 1;
}
.text{
    text-align: justify;
}
.date{
    font-weight: 700;
}
.address{
    margin-bottom: 30px;
}
.name{
    font-size: 20px;
    margin-bottom: 25px;
}
.sender_name{
    font-size: 20px;
    text-align: right;
    font-style: italic;
}
.thanks{
    text-align: right;
    margin-top: 25px;
    margin-bottom: 10px;
}