body {
    background-color: yellow;
}

@media (max-width: 1200px ){
    body {
        background-color: green;
    }
    span{
        color: yellow;
        font-size: 2rem;
    }
}
@media (max-width: 600px ){
    body {
        background-color: red;
    }
    span{
        color: white;
        font-size: 3rem;
    }
}